<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wesley.growth.mybatis.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.wesley.growth.mybatis.entity.Customer">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <insert id="insert" parameterType="com.wesley.growth.mybatis.entity.Customer">
    insert into customer_info (id, province, city, 
      phone_num, create_by, update_by, 
      create_time, update_time, is_deleted, 
      remark, project_name, name
      )
    values (#{id,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, province, city, phone_num, create_by, update_by, create_time, update_time, 
    is_deleted, remark, project_name, name
    from customer_info
  </select>
</mapper>